<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.joseapps.simpleshoppinglist">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.joseapps.simpleshoppinglist.utils.UserClient"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher72"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher72"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.joseapps.simpleshoppinglist.ActivityProfile.ProfileInfoActivity"></activity>
        <activity android:name="com.joseapps.simpleshoppinglist.ActivityProfile.ChildrenMangementActivity"></activity>
        <activity android:name="com.joseapps.simpleshoppinglist.ActivityProfile.ChildRequestActivity" />
        <activity android:name="com.joseapps.simpleshoppinglist.ActivityCart.CartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.joseapps.simpleshoppinglist.Login.RegisterActivity" />
        <activity android:name="com.joseapps.simpleshoppinglist.Login.LoginActivity" />
        <activity android:name="com.joseapps.simpleshoppinglist.ActivityAddItem.AddItemActivity"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name="com.joseapps.simpleshoppinglist.ActivityHistory.HistoryActivity" />
        <activity android:name="com.joseapps.simpleshoppinglist.ActivityFamilyList.FamilyListActivity" />
        <activity android:name="com.joseapps.simpleshoppinglist.ActivityProfile.UserSettingsActivity" />
        <activity android:name=".ActivityAddItem.WebViewSearchActivity"/>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>